flows.json
[{"id":"883e4b77.181278","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1861291e.eacdcf","type":"json","z":"883e4b77.181278","name":"","property":"payload","action":"","pretty":false,"x":490,"y":400,"wires":[["921630de.c38bd","a6e9cc9.b8d5b3","38ea589c.315048"]]},{"id":"921630de.c38bd","type":"function","z":"883e4b77.181278","name":"Température","func":"msg.topic = \"Température\";\nmsg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":440,"wires":[["1b739c17.2d4dec"]]},{"id":"a6e9cc9.b8d5b3","type":"function","z":"883e4b77.181278","name":"Humidité","func":"msg.topic = \"Humidité\";\nmsg.payload = msg.payload.hum;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":520,"wires":[["bd8c17b7.9ce8b8"]]},{"id":"a73f51a5.8241e8","type":"inject","z":"883e4b77.181278","name":"","topic":"","payload":"{\"v1_2_raw\":250,\"YL69_raw\":301}","payloadType":"str","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":340,"wires":[[]]},{"id":"c9c052c9.663648","type":"function","z":"883e4b77.181278","name":"serial simulation (json)","func":"var \nrand1 = Math.floor(Math.random(255)*1000);\nrand2 = Math.floor(Math.random(150)*50);\nmsg.payload=\"{\"+\"\\\"v1_2_raw\\\"\"+\":\"+rand1+\",\"+\"\\\"YL69_raw\\\"\"+\":\"+rand2+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":460,"wires":[[]]},{"id":"57b24aab.6812cc","type":"inject","z":"883e4b77.181278","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":400,"wires":[["c9c052c9.663648"]]},{"id":"38ea589c.315048","type":"debug","z":"883e4b77.181278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":320,"wires":[]},{"id":"bd8c17b7.9ce8b8","type":"ui_gauge","z":"883e4b77.181278","name":"","group":"f83dfa58.2c4a6","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidité","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"","x":840,"y":540,"wires":[]},{"id":"989b9547.4137e8","type":"debug","z":"883e4b77.181278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":620,"wires":[]},{"id":"953cea24.6307f8","type":"serial in","z":"883e4b77.181278","name":"","serial":"b1daa528.fde748","x":160,"y":540,"wires":[["989b9547.4137e8","1861291e.eacdcf"]]},{"id":"1b739c17.2d4dec","type":"ui_gauge","z":"883e4b77.181278","name":"","group":"f83dfa58.2c4a6","order":1,"width":0,"height":0,"gtype":"gage","title":"Température","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":460,"wires":[]},{"id":"3773960e.77bd02","type":"ui_button","z":"883e4b77.181278","name":"motor on off","group":"f83dfa58.2c4a6","order":2,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"49","payloadType":"num","topic":"","x":400,"y":280,"wires":[["615018bb.1ce7a8","35d44c9.7264fb4"]]},{"id":"615018bb.1ce7a8","type":"serial out","z":"883e4b77.181278","name":"","serial":"b1daa528.fde748","x":560,"y":240,"wires":[]},{"id":"35d44c9.7264fb4","type":"debug","z":"883e4b77.181278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":160,"wires":[]},{"id":"f83dfa58.2c4a6","type":"ui_group","z":"","name":"Mesures","tab":"e38cce33.465af8","disp":true,"width":"6","collapse":false},{"id":"b1daa528.fde748","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e38cce33.465af8","type":"ui_tab","z":"","name":"Accueil","icon":"dashboard","disabled":false,"hidden":false}]